body{
    background-color: #00070E;
}
a{
    color: #1F4D77;
}
.header{
    position: fixed;
    top: 0px;
    background-color: #00070E;
    width: 100%;
    left: 0px;
    right: 0px;
}
.content{
    padding-left: 5%;
    padding-right: 5%;
}

p.settings{
    color: whitesmoke;
    font-family: "Courier New";
    font-size: small;
}

button.menu-button{
    background-color:  #54001C;
    border-color:  #54001C;
    font-family: "Courier New";
    font-size: large;
    width: 60px;
    height: 40px;
    text-align: center;
}

div.dropdown{
    position: relative;
    display: inline-block;
}

div.dropdown-content{
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #0A1926;
}

div.show{
    display: block;
}

button.settings{
    background-color: #0A1926;
    color: whitesmoke;
    border-color: #0A1926;
    font-family: "Courier New";
}

button.close-button{
    background-color: #54001C;
    color: black;
    border-color: #54001C;
    font-family: "Courier New";
    font-size: medium;
    font-weight: bolder;
}

button.dropdown{
    width: 160px;
    background-color: #54001C;
    color: black;
    border-color: #54001C;
    font-family: "Courier New";
    font-size: medium;
    font-weight: bolder;
}

#add-extraction-popup{
    background-color:  #900C3F;
}
#chatter_box{
    background-color: #0A1926;
    width: 100%;
    color: #909EAA;
    alignment: center;
    font-family: "Courier New";
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}
#results{
    background-color: #00070E;
    color: antiquewhite;
    width: 80%;
    font-family: "Courier New";
    font-size: small;
}
#author{
    height: 5%;
    width: 100%;
    color: #909EAA;
    alignment: center;
    font-family: "Courier New";
    font-size: x-small;
}
#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #0A1926;
    width: 100%;
    color: #909EAA;
    alignment: center;
    font-family: "Courier New";
    font-size: small;
}

h2{
    font-family: "Courier New";
    font-size: x-large;
    color: #54001C;
}

table.settings{
    padding: 2px;
    border: solid 1px #0A1926;
}
table.menu{
    background-color: #0A1926;
}
table.options{
    padding: 2px;
    border: solid 1px #0A1926;
    background-color: #54001C;
}

td{
    color: white;
    font-family: "Courier New";
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}
td.menu{
    background-color: #0A1926;
}

th{
    background-color: #54001C;
    color: whitesmoke;
    font-family: Roboto;
    font-weight: bold;
    font-size: small;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
th.options{
    text-align: center;
    background-color: #3E0015;
}
th.menu{
    background-color: #0A1926;
}