body{
    background-color: #00070E;
}
img.banner{
    width: 40%;
}
div.drop_zone{
    background-color: #00070E;
    color: #293137;
    font-family: "Courier New";
    font-size: large;
    padding-left: 5%;
    padding-top: 5%;
}